@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover {
    @apply transform transition duration-300 lg:hover:scale-105
}

/* Nav styles */
.nav-link {
    @apply flex flex-col items-end w-fit py-2
}

.nav-top-text {
    @apply leading-none font-semibold text-neutral-500 text-2xs md:text-xs lg:text-sm
}

.nav-bottom-text {
    @apply leading-none font-medium text-neutral-200 text-2xs xs:text-xs md:text-base lg:text-lg lg:group-hover:text-neutral-500
}

.name-marquee {
    @apply text-[70px] 2xs:text-8xl font-semibold text-neutral-200 whitespace-nowrap md:text-[120px] lg:text-[160px]
}

/* Scroll down indicator */
.scroll-indicator {
    @apply block w-4 h-4 md:w-5 md:h-5 border-b-2 border-r-2 border-neutral-200 transform rotate-45 -my-2.5 animate-scrollDown
}

.scroll-indicator:nth-child(2) {
    animation-delay: 0.2s;
}

.scroll-indicator:nth-child(1) {
    animation-delay: 0.4s;
}

/* Article Feature Image */
.article-feature {
    height: clamp(200px, 350px, 471px);
}

/* Section titles */
.section-title {
    @apply font-semibold text-2xl mb-2 lg:text-3xl
}

body {
    cursor: none;
    overflow-x: hidden;
    user-select: none;
}

/* Cursor dot */
.dot {
    @apply h-4 w-4 rounded-full fixed top-0 left-0 transform -translate-x-1/2 -translate-y-1/2 bg-neutral-300 z-30 pointer-events-none
}

/* Cursor halo */
.halo {
    @apply h-4 w-5 rounded-full fixed top-0 left-0 transform -translate-x-1/2 -translate-y-1/2  border-2 border-neutral-100 opacity-0 transition-all duration-[600ms] ease-out z-20 pointer-events-none
}

.halo.hovered {
    @apply h-10 w-10 opacity-100 cursor-none;
}

a, button {
    cursor: none;
}

/* Chrome, Edge, and Safari scrollbar styles */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #171717;
}

*::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 6px;
}